#current-resource {
  width: 100%;
  font-weight: bold;
}

.instance-item:hover {
  font-weight: bold;
}

.url {
  font-family: 'Lucida Console', 'Courier New', monospace;
}

#instances-scroll ul {
  /* border: 2px solid green; */
  height: 200px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.item {
  border: 0px solid green;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

.add-instance {
  border: 0px solid green;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

.check {
  position: relative;
  top: 1px;
}

form {
  /*
  position: absolute;
  top: 50px;
  right: 0;
  width: 50%;*/
  margin: 10px;
}

button {
  margin: 5px;
}

/* input, */
textarea,
select {
  margin: 5px;
  /* clear: both; */
  float: left;
  width: 90%;
}

label {
  /* font-weight: bold; */
  line-height: 18px;
  float: left;
  width: 50%;
  text-align: left;
}

fieldset {
  /* font-weight: bold; */
}
